.dark{
    background-color: #2d3941 !important;
    color: whitesmoke !important ;
}

.dark-container{
    background-color: #2c2e33 !important;
    color:whitesmoke !important;
    
}
.dark-icon{
    background-color: #2c2e33  !important;
    color: whitesmoke !important;
}
.dark-inner-component{
    background-color: #2d3941!important;
    color: whitesmoke;
}
.icon{
    width:1.25em !important;
    height: 1.25em !important;
}
.Main{
    width:90vw;
    height:90vh;
    background-color: #f4f5f8;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    /*or flex-grow :0.3*/
}
.chatArea-container{
flex: 0.7;
display: flex;  
flex-direction: column;
}
.sd-header{
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.sd-Search{
    display: flex;
    background-color: white;
    padding: 3px 5px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    margin-top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.search-box{
    border: none;
    outline-width: 0;
    font-size: 1.2rem;
    margin-left: 10px;
    width: 100%;
}
.sd-conversation{
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    margin-top: 0;
    flex:1;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.sd-conversation::-webkit-scrollbar{
    display: none;
}
.conversation-container{
    display:grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    
}
.conversation-container-others{
    display:grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.con-icon{
    grid-area: 1/1/3/2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d9d9d9d9;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding:4px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    
}
.con-title{
    grid-area: 1/2/2/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(0,0, 0,0.54);

}
.con-lastMessage{
    justify-self: flex;
    flex:0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75;
    color: rgba(0,0, 0,0.54);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.con-timeStamp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    flex:1;
    color: rgba(0,0, 0,0.54);
    justify-self: flex;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.chatArea-container{
    display:flex;
    flex:1;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    margin-top: 0;
    
}
.chatArea-header{
    background-color:white;
    margin-bottom: 10px;
    border-radius: 20px;
    padding:5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
.chatArea-messages{
    flex: 1;
    background-color:white;
    margin-bottom:10px;
    padding: 10px 5px;
    border-radius: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.chatArea-messages::-webkit-scrollbar{
    display: none;
}
.chatArea-input{
    background-color:white;
   
    padding: 10px 5px;
    border-radius: 20px;
    margin-top: 0;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.chatArea-input input{
    border: none;
    outline-width: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 10px;
    flex: 1;

}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 2px;
    
}
.self-message-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 2px;
      
}
.messageBox{
    background-color: rgb(38, 123, 95);
    padding: 10px;
    border-radius: 20px;
}
.other-text-container{
    background-color: #d9d9d9d9; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    flex-direction: column;
    width: fit-content;
}
.other-timeStamp{
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.self-time-stamp{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con-message{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}
.welcome-logo{
    height: 300px;
    object-fit: contain;
}
.welcome-container{
    display: flex;
    flex:0.7;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 5px solid #63d7b0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.createGroup-main-container{
    display: flex;
    flex: 0.7;
    background-color: white;
    margin: 10px;
    padding:10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.createGroup-container{
    display: flex;
    flex:1;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    align-self: center;
    justify-content: space-between;
    padding: 10px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.createGroup-container input{
    border: none;
    outline-width: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    flex: 0;
}
.login-container{
    width:90vw;
    height:90vh;
    background-color: #f4f5f8;
    border-radius: 20px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.image-container{
    display: flex;
    flex: 0.3;
    align-items: center;
    justify-content: center;
    
}
.login-box{
    display: flex;
    flex:0.7;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;  
    border-bottom: 5px solid #63d7b0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.login-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #63d7b0;
    font-weight:bold ;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.input-box-login:is(:active,:hover){
    border: #63d7b0 !important;
    color: #63d7b0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #63d7b0;
    font-weight:bold ;
}
.link:active{
    color:rgb(59, 9, 105)
}
.list-container{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    margin: 10px;
    

}
.online-users-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding:5px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bolder;
    
}
.online-users-logo{
    object-fit: contain;
    display: inline;
    width: 3rem;
    height: 3rem;
    margin:0px 10px
    
}
.online-list{
    margin: 10px 13px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.list-container .sd-Search{
    margin:0
}

.online-list-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    margin-left: 10px;
}
.list-container .sd-Search{
    margin-bottom: 15px;
}
.online-list-container{
    background-color: white;
    border-radius: 20px;
    margin-top: 0;
    flex:1;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
}
.online-list-container::-webkit-scrollbar{
    display: none;
}
.inner-icon{
    display:flex;
    flex-wrap:nowrap
}

@media screen and (max-width :43em) {
    .sidebar-container .sd-Search{
        display:none
    }
    .sd-header{
        flex-direction: column;
        flex:1;
        width:min-content;
        margin-left: 1px;
        margin: 0;
        border-radius: 0;
    }
    .inner-icon{
        flex-direction: column;
    }
    .sd-conversation{
        display: none;
      
    }
    .sidebar-container{
       flex:0
    }
    .chatArea-container{
        flex:1;   
        
    }
    .chatArea-header,.chatArea-messages,.chatArea-input{
        margin: 0;
        border-radius: 0;
        margin: 1px solid black;
    }
    .Main{
        width:100vw;
        height:100vh;
        border-radius: 0;
        
    }
    .welcome-container{
        flex: 1;
        margin:0;
        border-radius: 0;
        justify-content: center;
        align-items: center;
    }
    .login-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        border-radius: 0;
        flex-direction: column;
        padding-bottom: 10px;
        

        
    }
    .image-container{
        object-fit: contain;
        padding: 10px; 
    }
    .image-container img{
        width:250px;
        filter:drop-shadow(0 0 5px black)
        
        
    }
    .login-box{
        flex:1;
        width: 95%;
        height: fit-content;
        
        
    }
    .list-container{
        flex: 1;
        margin: 0;
    }
    .online-users-container{
        margin:0;
        border-radius: 0;
    }
    .sd-Search{
        margin:0;
        border-radius: 0;
        margin-bottom: 0;
    }
    .online-list-container{
        margin: 0;
        border-radius: 0;
        margin-top: 0;
    }
    .createGroup-main-container{
        flex:1;
        margin: 0;
        border-radius: 0;
    }
    .createGroup-container{
        margin:0
    }
    .input-box-login{
        width:80% !important;
    }
    .list-container .sd-Search{
        margin-bottom:2px;
        margin-top: 2px; 
    }
    .chatArea-container{
        margin: 0;
        padding: 0;
    }
    
    .messages-container{
        background-color: white;
        height: 94%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        flex:0.9;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .conversation-container{
       padding: 10px;
       font-size:  20px;
       border-radius: 0;
    
    }
}
